@import url(reset.css);
@import url(styleMediaTest.css);
@import url(styleWebTest.css);
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Montserrat+Alternates&family=Roboto&display=swap');

/* font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Roboto', sans-serif; */


:root{
    --primaryW: #FFFFFF;
    --primaryY: #FFE07B;
    --primaryB:#9DDFD3;
    --writingLr:#FFA180;
    --writingB:#6AC7CE;
    --writingR:#DF3502;
    --writingG:#166668;
}
.container{
    width: 70%;
    margin: auto;
}
.displayGrid{
    display: grid;
}
.lien{
    color: var(--writingG);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.2rem;
}


header{
    background-color: var(--primaryW);
}
header input, header label{
    display: none;

}
header a#mobile{
    display: none;
}
header nav ul{
    grid-template-columns: 40% repeat(3,1fr);
    align-items: center;
    justify-items: end;
}

